
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}

.shadows {
   box-shadow: 0px 0px 3px 0.3px rgb(182, 182, 182);
}